* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  background: linear-gradient(to left, #9859cc, #7e65db, #669ae7);
  height: 80px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  background-color: #f8f9fb;
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

/* Elementos da direita */

.div-right {
  background-color: white;
  box-shadow: 1px 1px 4px #888;
  border-radius: 4px;
  padding: 1rem;
  min-width: 30rem;
  display: flex; 
  flex-direction: column;
  max-height: 70vh;
}

#contacts-list {
  overflow-y: auto;
}

.div-right  p {
    color: rgb(100, 100, 100);
}

.card-contact {
  background: white;
  padding: 8px;
  border-left: #7e65db solid 4px;
  border-radius: 5px 4px 5px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  box-shadow: 1px 1px 4px #888;
  margin-bottom: 0.5rem;
}

.name-email {
  display: flex;
  flex-direction: column;
}

button {
  padding: 6px;
  border-radius: 4px;
  border: none;
  box-shadow: 1px 1px 4px #888;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: translateY(3px);
}
/* Elementos da Esquerda */

.add {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  box-shadow: 1px 1px 4px #888;
  border-radius: 4px;
  padding: 1rem;
}

.div-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-width: 30rem;
}

input {
  border: none;
  box-shadow: 1px 1px 4px #888;
  padding: 6px;
  border-radius: 4px;
  padding: 10px;
}

input:focus { 
    outline: none; 
    border: none; 
}

form {
  background-color: white;
  box-shadow: 1px 1px 4px #888;
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit {
    background-color: #65d48f;
    color: white;
    font-weight: bold;
    margin-right: 0.3rem;
}

.delete {
    background-color: #d46581;
    color: white;
    font-weight: bold;
}

.add-contact {
     background-color: #7e65db;
    color: white;
    font-weight: bold;
    font-size: medium;
    padding: 10px;
}

form label {
    font-weight: bold;
    color: rgb(100, 100, 100);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #9859cc, #7e65db, #669ae7);
  color: white;
  height: 20px;
  font-size: small;
}

@media (max-width: 800px) {
  
  * {
    font-size: medium;
  }
  section {
    flex-direction: column;
    height: auto; 
    min-height: calc(100vh - 100px);
    padding: 1rem;
    justify-content: flex-start; 
  }


  .div-left,
  .div-right {
    min-width: 100%;
    width: 100%;
  }

  .div-right {
    max-height: 20rem; 
  }

  #contacts-list {
    overflow-y: auto; 
  }

  .card-contact {
    padding: 1;
    font-size: small;
  }

  .edit,
  .delete {
    width: 50px;
    padding-bottom: 0.2;
    padding-top: 0.2;
    font-size: small;
    margin-top: 5px;
  }

  button:hover {
    transform: translateY(0);
  }
}